/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CUSTOM STYLES */
@font-face {
    font-family: 'Roboto Slab Thin';
    src: url(../fonts/robotoslabthin.woff2) format('woff2'), url(../fonts/robotoslabthin.woff) format('woff'), url(../fonts/robotoslabthin.ttf) format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto Slab Light';
    src: url(../fonts/robotoslablight.woff2) format('woff2'), url(../fonts/robotoslablight.woff) format('woff'), url(../fonts/robotoslablight.ttf) format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto Slab Regular';
    src: url(../fonts/robotoslabregular.woff2) format('woff2'), url(../fonts/robotoslabregular.woff) format('woff'), url(../fonts/robotoslabregular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto Slab Bold';
    src: url(../fonts/robotoslabbold.woff2) format('woff2'), url(../fonts/robotoslabbold.woff) format('woff'), url(../fonts/robotoslabbold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal;
}

html, body {
    margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}
.background-home {
	height: 792px;
	background-image: url(../images/back-home.jpg);
	background-size: cover;
	background-position: center;
}

.header {
    display: flex;
    justify-content: space-between;
	padding-top: 40px;
	flex-wrap: wrap;
}

.logo {
	margin-right:10px;
	color: #ffffff;
	font-weight: bold;
	font-size: 24px;
	line-height: 36px;
	text-decoration: none;
	padding: 0 14px;
}

.main-menu {
    display: flex;
    flex-direction: row;
	justify-content: space-between;
	padding-right: 80px;
	flex-wrap: wrap;
}

.ref-menu {
	color: #ffffff;
	font-size: 14px;
	line-height: 24px;
    display: block;
    text-decoration: none;
	margin: auto 0;
	padding: 0 14px;
}

.ref-menu:hover, .logo:hover {
    background-color: rgba(0,0,0, .5);
   border-radius: 5px;
}

.welcome-block {
	height: 716px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.welcome-main-text {
 color: #ffffff;
 text-transform: uppercase;
 font-size: 48px;
 margin-bottom: 30px;
 font-weight: bold;
}

.welcome-text {
	color: #ffffff;
	font-family: 'Roboto Slab Regular', serif;
	font-size: 20px;
	margin-bottom: 50px;
}

.main-button {
	text-transform: uppercase;
	border: 2px solid #ffffff;
	font-size: 16px;
	padding: 20px 0;
	width: 180px;
	box-sizing: border-box;
	background-color: rgba(0,0,0,0);
	color: #ffffff;
	margin: 0 auto;
	cursor: pointer; 
}

.main-button:hover {
	background-color: #ffffff;
	color: #c0301c;
}

.main-block-size {
	padding: 100px 0;
}

.standart-width {
	max-width: 1140px;
	margin: auto;
}

.services-block {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.wrapper-caption {
	text-align: center;
    padding-bottom: 70px;
}

.h-caption {
	font-size: 20px;
	text-transform: uppercase;
	margin-bottom: 25px;
	color: #555555;
}

.h-caption::after {
	width: 30px;
	height: 2px;
	margin: 0 calc(50% - 15px);
	background-color: #555555;
	display: block;
	margin-top: 25px;
	content: '';
}

.p-caption {
	font-size: 16px;
	color: #555555;
	font-family: 'Roboto Slab Regular', serif;
}

.wrapper-services-items {
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
}
.services-item {
	max-width: 350px;
	text-align: center;
	margin: 0 10px;
}

.circle-item {
	width: 90px;
	height: 90px;
	border-radius: 50%;
	box-sizing: border-box;
	border: 2px solid #dddddd;
	margin: auto;
	margin-bottom: 30px;
	display: flex;
	color: #c0301c
}

.circle-item:hover {
	background-color: #c0301c;
	color: #ffffff;
	cursor: pointer;
}

.circle-item-bg {
	margin: auto;
	font-size: 50px;
}

.item-caption {
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	color: #555555;
	margin-bottom: 20px;
}

.item-text {
	font-size: 14px;
	line-height: 24px;
	font-family: 'Roboto Slab Regular', serif;
	color: #555555;
}

.about-team {
	background-color: #f8f8f8;
}

.general-team-info {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 70px;
}

.general-team-info-item {
	max-width: 555px;
	margin: 0 15px;
}

.photo-slider {
	position: relative;
}

.control-button {
	width: 35px;
	height: 38px;
	position: absolute;
	background-color: rgba(0,0,0, .3);
	color: #ffffff;
	top: 105px;
	z-index: 1;
	line-height: 38px;
	margin: auto;
	text-align: center;
	cursor: pointer;
}

.control-button:hover {
	background-color: #c0301c;	
}
.first-cont-button {
	left: 20px;
}

.second-cont-button {
	right: 20px;

}

.slides-wrapper {
display: flex;
flex-direction: row;
justify-content: center;
flex-wrap: wrap;
}

.slider-item {
	display: flex;
	flex-direction: column;
	max-width: 260px;
	margin: 0 10px;
	position: relative;
}

.wrapper-photo-block {
	width: 260px;
	height: 250px;
	margin-bottom: 20px;
	overflow: hidden;
	position: relative;
}

.wrapper-photo-block:hover .social-icons-line, .shadow-mask-black {
	visibility: visible;
}

.person-photo {
	width: 260px;
	height: auto;
	position: absolute;
	top: 0;
	left: 0;
}

.social-icons-line {
	position: absolute;
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-top: 195px;
}

.shadow-mask-black {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0, .3);
	visibility: hidden;
}

.social-icon {
	color: #ffffff;
	font-size: 14px;
	height: 28px;
	width: 28px;
	text-align: center;
	line-height: 28px;
}

.social-icon:hover {
	background-color: #c0301c;
} 

.person-name {
	margin-bottom: 15px;
	text-align: center;
}

.person-position {
	font-size: 13px;
	text-align: center;
}

.works-samples {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.types-work-wrapper {
	display: flex;
	justify-content: center;
	flex-direction: row;	
}

.type-work {
	margin: 0 10px;
	text-decoration: none;
}

.type-work:hover {
	color: #c0301c;
}

.wrapper-works-block {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.work-item {
	width: 350px;
	height: 320px;
	margin: 0 15px 30px 15px;
	overflow: hidden;
	position: relative;
}

.work-image {
	position: absolute;
	top: 0;
	left: 0;
}

.work-item:hover .shadow-mask-pink {
	visibility: visible;
}

.wrapper-about-work {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	vertical-align: middle;
}

.shadow-mask-pink {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(192,48,28, .7);
	visibility: hidden;
}

.work-name {
	color: #ffffff;
	font-size: 18px;
	text-align: center;
	line-height: 24px;
}

.work-classification-type {
	font-family: 'Roboto Slab Regular', serif;
	color: #ffffff;
	font-size: 12px;
	text-align: center;
	line-height: 24px;
}

.view-button {
	text-transform: uppercase;
	border: none;
	font-size: 14px;
	line-height: 38px;
	width: 100px;
	background-color: #ffffff;
	color: #c0301c;
	margin: 0 auto;
	cursor: pointer; 
}

.background-ad {
	height: 369px;
	background-image: url(../images/bgr_ad.jpg);
	background-size: cover;
	background-position: center;
}

.ad-info-block {
	height: 369px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: auto;
	max-width: 500px;
}

.ad-text {
	color: #ffffff;
	font-family: 'Roboto Slab Regular', serif;
	font-size: 30px;
	line-height: 44px;
	margin-bottom: 50px;
}
	
.wrapper-blog-items  {
	display: flex;
	flex-direction: column;	
}

.blog-item {
	display: flex;
	justify-content: center;
	flex-direction: row;
	margin-bottom: 65px;
} 

.img-blog-item {
	width: 460px;
	height: 320px;
}

.blog-item-info {
	display: flex;
	flex-direction: column;
	max-width: 650px;
	margin-left: 30px;
}

.blog-item-info-main {
	display: flex;
	flex-direction: row;
	margin-bottom: 30px;
}

.blog-item-info-date {
	width: 75px;
	height: 75px;
	border: solid 2px #555555;
	text-align: center;
	margin-right: 30px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.info-date-day {
	font-size: 24px;
	color: #777777;
	font-weight: bold;
}

.info-date-month {
	font-size: 14px;
	color: #777777;
	font-weight: bold;
}

.blog-item-info-about {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.blog-item-info-about-capture {
	color: #555555;
	font-size: 16px;
	line-height: 24px;
	text-transform: uppercase;
	cursor: pointer;
}


.blog-item-info-about-capture:hover {
	color: #c0301c;
}

.blog-item-info-about-author {
	color: #777777;
	font-family: 'Roboto Slab Regular', serif;
	font-size: 13px;
	line-height: 24px;
	font-style: italic;
}

.alt-text-color {
	color: #c0301c;
}

.blog-item-info-text {
	color: #555555;
	font-family: 'Roboto Slab Regular', serif;
	font-size: 14px;
	line-height: 24px;
	margin-bottom: 35px;
}

.blog-item-more{
	text-transform: uppercase;
	font-family: 'Roboto Slab Bold', serif;
	font-size: 13px;
	line-height: 24px;
	color: #777777;
	text-decoration: none;
}

.blog-item-more:hover {
	color: #c0301c;
}

.clients-block {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #f8f8f8;
}	

.clients-logo {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

.clients-logo-ref {
	display: flex;
	margin:  0 15px;
} 

.clients-logo-item {
	margin: auto;
}

.clients-review {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.clients-review-text {
	color: #555555;
	font-size: 18px;
	font-style: italic;
	line-height: 30px;
}

.clients-review-author {
	color: #555555;
	font-size: 20px;
	margin: 40px 0;

}

.clients-pagination-block {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.clients-pagination-item {
	width: 13px;
	height: 13px;
	border-radius: 50%;
	background-color: #dddddd;
	cursor: pointer;
	margin: 0 4px 0 4px;
}

.clients-pagination-item:hover {
	background-color: #c0301c;
}

.contact-block {
	display: flex;
	flex-direction: column;
	justify-content: center;
} 

.wrapper-contact-info {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

.main-contact-info {
	display: flex;
	flex-direction: column;	
	margin-right: 80px;
	min-width: 270px;

}

.wrapper-main-contact-item {
	display: flex;
	flex-direction: row;
	margin-bottom: 35px;
}


.main-contact-item-icon {
	color: #555555;
	font-size: 24px;
	margin-right: 8px;
	width: 15px;
}

.main-contact-item-icon-letter {
	font-size: 15px;
}
.main-contact-item {
	display: flex;
	flex-direction: column;
}

.tel-mail-link {
	text-decoration: none;
	color: #555555;
}
.main-contact-item-carture {
	text-transform: uppercase;
	color: #555555;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 10px;
	line-height: 20px;
}

.main-contact-item-text {
	color: #555555;
	font-size: 12px;
	line-height: 20px;
	font-family: 'Roboto Slab Regular', serif;
}

.contact-form {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	max-width: 760px;
	margin: 0 auto;
}

.contact-form-main-item {
	border: 1px solid #555555;
	text-transform: uppercase;
	color: #555555;
	font-size: 12px;
	font-family: 'Roboto Slab Regular', serif;
	padding: 15px;
	box-sizing: border-box;
	margin: 0 15px 20px 15px;
	outline: none;
}

.contact-form-main-item:focus {
	border: 1px solid #c0301c;
}

.contact-form-line {
	width: 350px;
	height: 45px;
}

.contact-form-textarea {
	width: 100%;
	height: 100px;
	overflow: auto;
	resize: none;
}

.contact-form-submit {
	text-align: center;
	width: 170px;
	height: 45px;
	cursor: pointer;
	background-color: #ffffff;
}


.contact-form-submit:hover {
	color: #ffffff;
	background-color: #c0301c;
	border: none;
}

.contact-form-main-p {
	color: #555555;
	font-size: 12px;
	font-family: 'Roboto Slab Regular', serif;
	line-height: 48px;
}

.contact-bottom-block {
	height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #c0301c;
}

.bottom-social-icon-line {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-left: 15px;
	margin-bottom: 30px;
}

.bottom-social-icon-line-item {
	width: 35px;
	height: 35px;
	border: 2px solid #ffffff;
	border-radius: 50%;
	margin-right: 15px;
	display: flex;
	text-decoration: none;
}

.bottom-social-icon {
	color: #ffffff;
	margin: auto;
}

.bottom-copy-text {
	color: #ffffff;
	font-size: 12px;
	font-family: 'Roboto Slab Regular', serif;
	line-height: 20px;
	text-align: center;
	text-transform: uppercase;
}

.bottom-copy-text::before {
	width: 30px;
	height: 2px;
	margin: 0 calc(50% - 15px);
	background-color: #ffffff;
	display: block;
	margin-bottom: 25px;
	content: '';
}

@media all and (max-width: 920px) {

.blog-item {
	flex-wrap: wrap;}
	
 .blog-item-info {
	 margin-top: 35px;
 }
}

@media all and (max-width: 600px) {

	
    .contact-form {
	   flex-direction: column;}
	   
	.contact-form-textarea {
		max-width: 350px;}

	.main-contact-info {
		margin: auto;}
}


